<div *ngIf="barChartData && barChartData.length" class="card">
  <div class="card-body">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="chartColors"
    >
    </canvas>
  </div>
</div>
