<div class="dashboard container-fluid">
  <ng-container *ngIf="data">
    <div class="row">
      <div class="col">
        <app-map [offers]="data.offers"></app-map>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-bar-chart
          [barChartLabels]="areasChartLabels"
          [barChartData]="areasChartData"
        ></app-bar-chart>
      </div>
      <div class="col">
        <app-pie-chart [rawData]="data.total"></app-pie-chart>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-bar-chart
          [barChartLabels]="organisaionsChartLabels"
          [barChartData]="organisaionsChartData"
          [color]="'red'"
          [barChartType]="'horizontalBar'"
        ></app-bar-chart>
      </div>
    </div>
  </ng-container>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="large"
      color="#fff"
      type="ball-atom"
      [fullScreen]="true"
      ><p style="color: white;">Loading...</p></ngx-spinner
    >
</div>
