<div *ngIf="data && data.length" class="card">
  <div class="card-body">
    <canvas
      baseChart
      [data]="data"
      [labels]="labels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [colors]="chartColors"
      [legend]="pieChartLegend"
      [plugins]="pieChartPlugins"
    >
    </canvas>
  </div>
</div>
