/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';


.dashboard {

  padding: 2.5rem;

  & > .row {
    padding-top: 2rem;
  }

  & > .row:first-child {
    padding-top: 0;
  }
}

.map {
  width: 100%;
  height: 40rem;
}

.label {
  color: lighten(gray, 5%);
  font-size: 0.85rem;
  display: block;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}

.mapboxgl-popup-content {
  font-size: 14px;
}